#portfolio {
}

.project-box {
    position: relative;
    display: flow;
    width: 100%;
    margin: 20px auto 20px;
    padding: 20px;
}

.project-info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.project-img {
    max-width: 150px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-inline: auto;
}
.project-info .project-text{
    max-width: 500px;
    margin-inline: auto;
}

.project-box .project-description {
    text-align: justify;
    margin-inline: auto;
    margin-bottom: 10px;
    flex-grow: 1;
}

.project-title {
    margin-bottom: 10px;
    margin-inline: auto;
}

.project-box .github-link {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none; 
    font-weight: bold;
    transition: color 0.3s ease;
}

.project-box .github-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.project-box .github-link:hover .github-icon {
    transform: scale(1.2); 
}


.skills-list {
    list-style: none;
    padding: 3;
}

.skills-list li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 6px 12px;
    background-color: hsl(243 80% 65%);
    color: #D9D9BD;
    font-weight: bold;
    border-radius: 20px;
    font-size: 13px;
}
