@import "./homepage.css";
@import "./portfolio.css";
@import "./footer.css";
@import "./blog.css";

body {
    background-color: #151617;
    color: #D9D9BD;
    font-family: Hack, "Courrier new", monospace;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    border-color: hsl(243 100% 89%);
}

.content {
    max-width: 1200px; 
    margin-inline: auto;
    margin-top: 125px;
}

h1, h2, h3, h4, h5, h6 {
    color: hsla(243 100% 89% / 0.78);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 1.75em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

/* Generic style for all links */
a {
    color: #C9C5BA; 
    text-decoration: none;
    font-weight: normal; 
    transition: color 0.3s ease, transform 0.2s ease, text-decoration 0.2s ease; 
}

a:hover {
    color: #e76f51; 
    transform: scale(1.05);
}

a:active {
    color: #A1683A; 
    transform: scale(1.02); 
}

.nav {
    background-color: #161618;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.nav a {
    text-decoration: none;
    color: #C9C5BA;
    padding: 12px 18px;
    margin: 0 10px;
    cursor: pointer;
}

.nav a:hover {
    transform: scale(1.15);
}


/* From Josh Comeau amazing Website */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
