<h1>My Portfolio</h1>
    <section id="portfolio">
    {{for projects}}
        <div class="project-box">
        <a href="{{github}}" class="github-link" target="_blank">
            <img src="./images/github.svg" alt="GitHub" class="github-icon" />
        </a>

        <img src="{{picture}}" alt="Project 1" class="project-img">
            <div class="project-info">
            <h2 class="project-title">{{title}}</h2>
            <p class="project-description">{{description}}</p>
            <ul class="skills-list">
            {{for skills}}
                    <li>{{skill}}</li>
            {{end}}
            </ul>
            </div>
        </div>
    {{end}}
    </section>
